@model Yenviethue.Models.ViewModels.ProductVM
@using Yenviethue.Extensions

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<br />

<form method="post" asp-action="Delete">
    <div class="backgroundWhiteBorder">
        <input type="hidden" asp-for="Product.Id" />
        <div class="form-group row">
            <div class="col-md-3">
                <label asp-for="Product.Name"></label>
            </div>
            <div class="col-md-5">
                <input asp-for="Product.Name" class="form-control" disabled />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label asp-for="Product.Price"></label>
            </div>
            <div class="col-md-5">
                <input asp-for="Product.Price" type="number" class="form-control" disabled />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label asp-for="Product.StockQuantity"></label>
            </div>
            <div class="col-md-5">
                <input asp-for="Product.StockQuantity" class="form-control" value="100" disabled />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label asp-for="Product.ImgSrc"></label>
            </div>
            <div class="col-md-5">
                <img src="@Model.Product.ImgSrc" style="width:100px" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label asp-for="Product.DescriptionSummary"></label>
            </div>
            <div class="col-md-5">
                <input asp-for="Product.DescriptionSummary" class="form-control" disabled />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label asp-for="Product.DescriptionDetails"></label>
            </div>
            <div class="col-md-5 border pre-scrollable">
                @Html.Raw(Model.Product.DescriptionDetails)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label asp-for="Product.SubCategory.CategoryId"></label>
            </div>
            <div class="col-md-5">
                <select class="form-control" disabled>
                    <option>@Model.Product.SubCategory.Category.Name</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label asp-for="Product.SubCategoryId"></label>
            </div>
            <div class="col-md-5">
                <select class="form-control" disabled>
                    <option>@Model.Product.SubCategory.Name</option>
                </select>
            </div>
        </div>
        <div class="form-group row ">
            <div class="col-5 offset-3">
                <partial name="_DeleteAndBackToListButton" model="@Model.Product.Id" />
            </div>
        </div>
    </div>

    <div class="backgroundWhiteBorder" id="accordion">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#taglist-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            Tags &nbsp; <i class="fas fa-angle-down float-right"></i>
        </button>
        <div id="taglist-collapse" class="collapse">
            <p>No tag exists ...</p>
        </div>
    </div>

</form>

@section Scripts{
    <script>
    $(document).ready(function () { getTagList(); });

    function getTagList() {
            let url = '@Url.Content("~/")' + "Admin/Tag/GetTagsByProductId/@Model.Product.Id";
            $.getJSON(url, function (data) {
                let items = '';
                if (data != "") {
                    $("#taglist-collapse").empty();
                    $.each(data, function (i, tag) {
                        items += '<span class="btn btn-secondary p-0 m-2">' + tag.name + "</span>";
                    });
                    $("#taglist-collapse").html(items);
                }
            });
        };
    </script>
}